/* ===============================
   Variáveis Globais
   =============================== */

:root {
    --font-family: 'Montserrat', Arial, sans-serif;
    --bg-dark: rgb(17, 17, 17);
    --bg-light: #fff;
    --text-dark: #333;
    --text-light: #fff;
    --gray: #808080;
    --gray-dark: #151515;
    --purple: #A020F0;
    --purple-dark: #7318ac;
    --shadow: rgba(0, 0, 0, 0.2);
}

/* ===============================
   Fonte e Reset
   =============================== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-dark);
    color: var(--text-light);
    transition: background-color .75s, color .75s;
}

.darkMode {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

.lightMode {
    background-color: var(--bg-light);
    color: var(--text-dark);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-15%);
    transition: opacity .75s, filter .75s, transform .75s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

#projectsContainer,
#certContainer,
#contactsContainer {
    scroll-margin-top: 10rem;
    /* altura equivalente ou maior que o header */
}

.headline {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 15rem; */
}

.headline h2 {
    font-size: 2rem;
}

.headline span {
    font-size: 1.3rem;
}


/* ===============================
   Estilos do cabeçalho e menu
   =============================== */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-dark);
    border-bottom: 0.1rem solid var(--purple);
    padding: 1rem 8rem;
    height: 4rem;
    z-index: 999;
}

#menu {
    display: none;
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    right: 3rem;
    background-color: rgba(17, 17, 17, 0.25);
    backdrop-filter: blur(10px);
    transition: .6s;
    z-index: 1000;
    padding-top: 4rem;
}

#menu li {
    list-style: none;
    margin-top: 1rem;
}

#menu li a {
    font-size: 1.8rem;
    font-weight: bold;
    transition: color 0.3s ease;
    text-decoration: none;
    color: var(--text-light);
}

#menu span {
    color: var(--purple);
}

#menu li a:hover {
    color: var(--purple);
    text-decoration: none;
    letter-spacing: 0.1rem;
}

#nav.active #menu {
    top: 4rem;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

section {
    position: relative;
    z-index: 1;
    pointer-events: none;
}

section * {
    pointer-events: auto;
}

/* ===============================
   Estilos do título
   =============================== */

#title {
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 12rem;
    text-align: justify;
    z-index: 10;
}

#title h1 {
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    border-right: 2px solid var(--purple);
    animation: cursor 600ms steps(40) infinite normal, typing 3s steps(40) .1s normal;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 31rem;
    }
}

@keyframes cursor {
    from {
        border-right-color: var(--purple);
    }

    to {
        border-right-color: transparent;
    }
}

#title span {
    color: var(--purple);
}

#title p {
    width: 500px;
    color: var(--gray);
    font-size: 1.2rem;
    padding: 10px;
}


/* Estilos do perfil */
#profileContainer {
    padding-top: 20rem;
    height: 70vh;
}

#profile {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos sobre */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15rem;
}

#about p {
    color: var(--gray);
    margin: 0rem 25rem 0rem 25rem;
    font-size: 16px;
    line-height: 1.5;
    text-align: start;
}

/* Estilos dos cartões */
#cardContainer {
    text-align: center;
    margin-top: 10rem;
}

.card {
    background-color: var(--gray-dark);
    border: 1px solid var(--purple);
    border-radius: 1rem 1rem 1rem 5rem;
    padding: 20px;
    width: 13rem;
    text-align: center;
    margin: 1rem;
    display: inline-block;
    color: #A020F0;
    transition: .5s;
}

.lightMode .card {
    background-color: var(--bg-light);
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 3rem;
    height: 3rem;
    margin-bottom: 10px;
}

.projectsContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-projects {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content-projects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10rem;
    justify-content: center;
    margin: 0rem 15rem 0rem 15rem;
}

/* Card individual */
.card-project {
    background-color: var(--gray-dark);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    height: 100%;
}

.card-project:hover {
    transform: translateY(-5px);
}

/* Imagem do projeto */
.img-project {
    /* background-color: var(--bg-light); */
    border-radius: 25px;
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-project img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/* Conteúdo do card */
.content-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

/* Texto do projeto */
.text-project {
    width: 100%;
    text-align: left;
}

.text-project h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0 0.5rem;
}

.text-project span {
    font-size: 1rem;
    color: var(--gray);
    font-weight: 300;
    display: block;
    margin-bottom: 0.5rem;
}

.text-project p {
    font-size: 1rem;
    font-weight: normal;
    color: var(--gray);
    margin-bottom: 1rem;
}

/* Seção de tags e botão */
.cta-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.tag-project {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.tag-project i {
    font-size: 1.5rem;
    color: var(--text-light);
    transition: color 0.3s ease;
}

/* Efeito de hover nos ícones */
.tag-project i.devicon-react-original:hover {
    color: #61DBFB;
    /* cor oficial do React */
}

.tag-project i.devicon-nextjs-original-wordmark:hover {
    color: #000000;
    /* preto, cor padrão do Next.js */
}

.tag-project i.devicon-typescript-plain:hover {
    color: #3178C6;
    /* cor oficial do TypeScript */
}

.tag-project i.devicon-tailwindcss-plain:hover {
    color: #38BDF8;
    /* cor oficial do Tailwind */
}

.tag-project i.devicon-nodejs-plain:hover {
    color: #3C873A;
    /* Node Green */
}

.tag-project i.devicon-express-original:hover {
    color: #888;
    /* Express é monocromático */
}

.tag-project i.devicon-postgresql-plain:hover {
    color: #336791;
    /* PostgreSQL Blue */
}

.tag-project i.devicon-mongodb-plain:hover {
    color: #47A248;
    /* Cor oficial do MongoDB */
}

.btn-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5rem;
}

.btn-project a {
    display: block;
    text-align: center;
    padding: 0.7rem;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    transition: background-color 0.3s;
    width: 50%;
    text-decoration: none;
}

.btn-project a:hover {
    background-color: var(--purple-dark);
}

/* Estilos dos certificados */
#certContainer {
    text-align: center;
    margin-top: 15rem;
    background-color: transparent;
}



.carousel {
    margin: 0 25rem 0 25rem;
}

.carousel-item img {
    width: 50rem;
}

.lightMode .carousel-control-prev-icon,
.lightMode .carousel-control-next-icon {
    background-color: #1c1c1c;
}

/* Estilos dos contatos */
#contactsContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15rem;
}

#contactsContainer h2 {
    margin-bottom: 6rem;
}

#socialContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 15rem;
    gap: 5rem;
}

.socialLinks {
    transition: .5s;
}

.socialLinks a {
    text-decoration: none;
    color: var(--gray);
}

.socialLinks a h5 {
    color: var(--text-light);
}

.lightMode .socialLinks a h5 {
    color: var(--gray-dark);
}

.socialLinks img {
    width: 3rem;
    margin-bottom: 1rem;
}

.socialLinks:hover {
    transform: scale(1.2);
}

/* Estilos do rodapé */
footer {
    background-color: var(--purple);
}

footer p {
    color: var(--text-light);
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {

    body,
    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5rem;
    }

    #profileContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    body {
        width: 100%;
    }

    header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hidden {
        opacity: 1;
        filter: none;
        transform: translateX(0);
    }

    #menu {
        padding-top: 3rem;
        background-color: var(--bg-dark);
        height: 100vh;
    }

    .lightMode #menu {
        background-color: var(--bg-light);
    }

    #menu li a {
        font-size: 1.4rem;
    }

    #nav.active #menu {
        top: 4rem;
    }

    #title {
        text-align: center;
        margin: 5rem 2rem 8rem 2rem;
    }

    #title h1 {
        font-size: 1.8rem;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 22rem;
        }
    }

    #title p {
        font-size: 1rem;
    }

    #about {
        margin-top: 15rem;
    }

    #about p {
        margin: 2rem 0rem 5rem 0rem;
        font-size: 16px;
        text-align: justify;
    }

    .card {
        padding: 20px;
        width: 10rem;
    }

    #projectsContainer {
        padding-top: 5rem;
    }

    .projectsCards img {
        width: 20rem;
    }

    .carousel {
        margin: 0rem;
    }

    .carousel-item img {
        width: 100%;
    }

    #socialContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10rem;
    }

    .socialLinks {
        padding: 10px;
        box-sizing: border-box;
    }

    footer {
        background-color: transparent;
    }

    footer p {
        margin-bottom: 3rem;
    }

    .lightMode footer p {
        color: var(--gray-dark);
    }
}

/* Media queries para dispositivos móveis */
@media only screen and (max-width: 768px) and (max-width: 1024px) {
    body {
        text-align: center;
        padding: 4rem;
    }

    #profileContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: blueviolet;
    }

    #title h1 {
        white-space: wrap;
    }

    #title p {
        width: 250px;
        font-size: 1rem;
    }

    body {
        width: 100%;
    }

    header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hidden {
        opacity: 1;
        filter: none;
        transform: translateX(0);
    }

    #menu {
        padding-top: 3rem;
        background-color: var(--gray-dark);
        height: 100vh;
    }

    .lightMode #menu {
        background-color: var(--bg-light);
    }

    #menu li a {
        font-size: 1.4rem;
    }

    #nav.active #menu {
        top: 4rem;
    }

    #title {
        text-align: center;
        margin: 5rem 2rem 8rem 2rem;
    }

    #title h1 {
        font-size: 1.8rem;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 22rem;
        }
    }

    #title p {
        font-size: 1rem;
    }

    #about {
        margin-top: 15rem;
    }

    #about p {
        margin: 2rem 0rem 5rem 0rem;
        font-size: 16px;
        text-align: justify;
    }

    .card {
        padding: 20px;
        border-radius: 1rem 1rem 1rem 3rem;
        width: 5rem;
        height: 5rem;
        font-size: .1rem;
    }

    .card h5 {
        display: none;
    }

    .card img {
        width: 2rem;
        height: 2rem;
    }

    #projectsContainer {
        padding-top: 5rem;
    }

    .btn-project {
        flex-direction: column;
        /* empilha os botões */
        gap: 1rem;
    }

    .btn-project a {
        width: 100%;
        /* faz os botões terem mesma largura */
    }

    .projectsCards img {
        width: 15rem;
    }

    .carousel {
        margin: 0rem;
    }

    .carousel-item img {
        width: 100%;
    }

    #socialContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10rem;
    }

    .socialLinks {
        padding: 10px;
        box-sizing: border-box;
    }

    footer {
        background-color: transparent;
    }

    footer p {
        margin-bottom: 3rem;
    }

    .lightMode footer p {
        color: var(--gray-dark);
    }
}