@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap');

*{
    font-family: 'Montserrat',Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(17, 17, 17);
    color: white;
    border-bottom: 0.1rem solid #A020F0;
    padding: 1rem;
    height: 3.5rem;
    z-index: 999;    
}

/* #btnMenu{
    
} */

#menu{
    display: none;
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 3.5rem;
    right: 0rem;
    background-color: rgb(17, 17, 17, 0.25);
    backdrop-filter: blur(10px);
    z-index: 1000;
    padding-top: 4rem;
}

#menu li{
    list-style: none;
    margin-top: 1rem;
}

#menu li a{
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    transition: 0.3s ease;
}

#menu li a:hover{
    color: #A020F0;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

#nav.active #menu{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}




#profileContainer{
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#about{
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15rem;
    color:#fff;
    text-align:justify;
}

#about h1{
    text-align: left;
}

#about span{
    color: #A020F0;
}

#about p{
    width: 500px;
    color: #808080;
    font-size: 1.2rem;
    padding: 10px;
}

