@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap');

body {
    font-family: 'Montserrat',Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: rgb(17, 17, 17);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

#profileContainer{
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;

}

#about{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20rem;
    color:#fff;
    text-align:justify;
}

#about h1{

    text-align: left;
}

#about span{
    color: #A020F0;
}

#about p{
    width: 500px;
    color: #808080;
    font-size: 1.2rem;
    padding: 10px;
}

#profilePic{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    /* margin-left: 10rem; */
}

#buttonCV{
    text-decoration: none;
    outline:none;
    height: 3rem;
    text-align: center;

    width: 9rem;
    border-radius:2rem;
    background: rgb(17, 17, 17);
    border: 2px solid #A020F0;
    color:#A020F0;
    letter-spacing:1px;
    text-shadow:0;
    font-size: 0.9rem;
    font-weight:bold;
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
        color:white;
        background: #A020F0;
    }
    &:active {
        letter-spacing: 2px ;
    }
}

.onclic {
    width: 40px;
    border-color:gray;
    border-width:3px;
    font-size:0;
    border-left-color:green;
    animation: rotating 2s 0.25s linear infinite;
    
    &:after {
        content:"";
    }
    &:hover {
        color:green;
        background: white;
    }
    }
    .validate {
    font-size:13px;
    color: white;
    background: green;
    &:after {
        font-family:'FontAwesome';
        content:"\f00c";
    }
    }
    
    @keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    }